.card {
    margin: 20px 0px;
}

.title {
    color: #4a4a49;
    font-weight: 700;
    font-size: 18px;
    margin: 18px;
}

.hr {
    margin-top: -10px;
}

.body {
    display: flex;
    align-items: center;
}

.btn2 {
    display: inline-block;
    background-color: #d52b1e;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    padding: 10px 25px;
    border: none;
    margin-left: 5px;
}

.text {
    padding: 0px 5px;
}