.card{
    width: 260px;
}

.title{
    color:#4a4a49;
    font-weight:700;
}

a{
    text-decoration: none;
}

.price{
    color:#d52b1e;
    font-size:24px;
    font-weight: 700;
}

.discount{
    display: inline-block;
    background-color:#d52b1e;
    border-radius:40px;
    font-weight: 700;
    font-size:14px;
    color:#fff;
    padding:2px 10px;
}

.detail{
    font-size:14px;
}


